
:root {
	--temno-siniy: #030025;
	--belyyw: #fff;
	--seryy-podpisatsya: #f1f1f1;
	--nebesnyy-logo: #a5e9ff;
	--seryy-tekst: #fbfbfb;
	--temno-siniy-obvodka: #030025;
	--btn-slayder: rgba(106, 103, 146, 0.39);
    --font-family: "Inter", sans-serif;
}

Html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

body {

    font-family: "Inter";
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
}

.half-width {
    width: 50%;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px; /* Запас для маленьких экранов */
    box-sizing: border-box;
}

.header {
    background: var(--temno-siniy);
    min-height: 93px;
    display: flex;
    min-width: 1280px;
}

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 40px; */
}


.header-nav-link {
    text-decoration: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--belyyw);
}


.header-nav-item:nth-of-type(n+2) {
    margin-left: 42px;
}

.header-link-icon:nth-of-type(n+2) {
    margin-left: 23px;
}

.flex {
    display: flex;
}

.slider {
    position: relative;
    

}

.slider-item {
    background-color: #040032;
    background: radial-gradient(85.53% 66.4% at 61.68% 48.22%, rgba(0, 0, 0, 0.77) 0%, rgba(4, 0, 50, 0.02) 100%), url("../jpg/brooks-leibee-omYSP6oYUs4-unsplash.jpg");

    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    min-height: 592px;
    margin: 39px 0 0;
    padding: 238px 0 0;
    box-sizing: border-box;
    min-width: 1280px;
    display: none;
    opacity: 0;
}

.active {
    display: block;
    opacity: 1;
}

.slider-title {
    display: flex;
    justify-content: center;
}

.slider-title-text {
    font-family: inherit;
    font-weight: 200;
    font-size: 72px;
    line-height: 120px;
    color: var(--belyyw);
}

.slider-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 24px 0;
    display: flex;
    justify-content: center;
}

.slider-control-item {
    display: flex;
    align-items: flex-end;
}


.slider-control-item:nth-of-type(n+2) {
    margin: 0 0 0 23px;
}

.slider-button-item {
    fill: #FFF;
    background-color: white;
    border: 0;
    border-radius: 100%;
    width: 21px;
    height: 21px;
    padding: 0;
}

.slider-arrow-item-active {
    background-color: transparent;
}

.slider-button-item:hover,
.slider-button-item:focus {
    background-color: transparent;
}

.slider-arrows {
    width: 100%;
    display: flex;
    position: absolute;
    top: 50%;                         
    transform: translate(0, -45%)
}

.slider-arrow-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.slider-arrow-item {
    border: 0;
    border-radius: 100%;
    width: 73px;
    height: 73px;
    padding: 0;
    border-radius: 100%;
    background-color: transparent;
}

.about {
    /* width: 100%; */
    min-height: 438px;
    position: relative;
    margin: 0 auto;
    padding: 100px 0 0;
}

.about-content {
    display: flex;

}

.about-title {
    text-align: center;
    font-family: inherit;
    font-weight: 200;
    font-size: 48px;
    line-height: 24px;
    color: var(--temno-siniy);
    margin-bottom: 66px;
}

.about-image {
    display: flex;
    justify-content: flex-end;
}

.about-image-item {
    width: 585px;
    height: 348px;
    display: flex;
    border-radius: 16px;

}

.about-content-text {
    margin: 0 0 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-hidden-text {
    z-index: -1;
    top: 130px;
    position: absolute;
    font-family: inherit;
    font-weight: 600;
    font-size: 173px;
    line-height: 172px;
    text-transform: uppercase;
    color: var(--seryy-tekst);
    letter-spacing: 0.025em;
    left: 35px;
}

.about-content-text-main {
    
    font-family: inherit;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--temno-siniy);
    margin: 0 0 15px 0;
}

.about-content-text-extra {
    font-family: inherit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: var(--temno-siniy);
}


.jewelry {
    position: relative;
    padding: 129px 0 0;
}

.jewelry-title {
    font-family: inherit;
    font-weight: 200;
    font-size: 48px;
    line-height: 24px;
    color: var(--temno-siniy);
    text-align: center;
    margin: 0 0 67px;
}

.jewelry-list-container {
    display: flex;
}

.jewelry-list-item {
    display: flex;
    width: 585px;
    min-height: 264px;
}

.jewelry-list-item:nth-of-type(n+2) {
    margin: 30px 0 0 0;
}

.jewelry-list-right {
    margin: 0 0 0 36px;
}

.jewelry-list-item-img {
    width: 205px;
    min-height: 264px;
    background-size: cover;
    background-color: var(--temno-siniy);
    border-radius: 16px 0 0 16px;
    /* background-position-x: 30%; */
}

.jewelry-list-item-text {
    border: 1px solid #030025;
    border-radius: 0 16px 16px 0;
    width: 380px;
    min-height: 264px;
    padding: 46px 23px 22px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jewelry-list-item-title {
    margin: 0 10px 0 0;
    font-family: inherit;
    font-weight: 200;
    font-size: 32px;
    line-height: 24px;
    color: var(--temno-siniy);
}

.jewelry-list-item-about {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: var(--temno-siniy);

}

.jewelry-button {
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    width: 21px;
    height: 21px;
    padding: 0;
}

.jewelry-hidden-text {
    z-index: -1;
    top: 139px;
    position: absolute;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 173px;
    line-height:172px;
    text-transform: uppercase;
    color: var(--seryy-tekst);
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
    right: 0;
    text-align: center;
}

.jewelry-button-bottom-container {
    display: flex;
    justify-content: center;
    margin: 103px 0 58px 0;
}

.jewelry-button-bottom {
    border: 0;
    padding: 0;
    border-radius: 16px;
    width: 257px;
    height: 75px;
    background: var(--temno-siniy);
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: var(--belyyw);
}

.news-subscription {
    width: 100%;
    min-height: 276px;
    background: var(--seryy-podpisatsya);
    padding: 75px 0 82px 0;
    box-sizing: border-box;
}

.news-subscription-items {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;   
}

.news-subscription-title {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 40px;
    line-height: 26px;
    color: var(--temno-siniy);
}

.news-subscription-email {
    margin: 37px 0 0;

}

[placeholder="Ваш адрес"] {
    left: 470px;
    position: absolute;
    padding: 0;
    box-sizing: border-box;
    border: 0.50px solid var(--temno-siniy);
    border-radius: 16px 0 0 16px;
    width: 260px;
    min-height: 56px;
    background: var(--belyyw);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #a19e9e;
    padding: 0 0 0 30px;
    }

.news-subscription-button {
    right: 470px;
    position: absolute;
    border: 0;
    padding: 0;
    border-radius: 16px;
    width: 159px;
    min-height: 56px;
    background: var(--temno-siniy);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--belyyw);
}

.review {
    position: relative;
    padding: 100px 0 206px;
}

.review-title {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 48px;
    line-height: 24px;
    color: var(--temno-siniy);
    display: flex;
    justify-content: center;
}

.review-hidden-text {
    top: 130px;
    z-index: -1;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 173px;
    line-height: 172px;
    text-transform: uppercase;
    color: var(--seryy-tekst);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
    right: 0;
    text-align: center;
    letter-spacing: 0.05em;
}

.review-list {
    display: flex;
    justify-content: space-between;
    margin: 78px 0 0;
}

.review-list-item {
    width: 380px;
    min-height: 543px;
}

.review-customer-img {
    margin: 0 0 30px 0;
    border-radius: 50%;
    background-size: cover;
    width: 380px;
    min-height: 384px;
    background-color: #A9A9A9;
    
}

.customer-fisrt {
    background-image: linear-gradient(rgba(3, 0, 37, 0.2), rgba(3, 0, 37, 0.2)), url("../jpg/bruce-mars-8YG31Xn4dSw-unsplash-min.jpg");
    background-position-x: 70%;
}

.customer-second {
    background-image: linear-gradient(rgba(3, 0, 37, 0.2), rgba(3, 0, 37, 0.2)), url("../jpg/bruce-mars-8YG31Xn4dSw-unsplash-min.jpg");
    background-position-y: 85%;
    background-size: 120%;
}

.customer-third {
    background-image: linear-gradient(rgba(3, 0, 37, 0.2), rgba(3, 0, 37, 0.2)), url("../jpg/tyler-nix-sh3LSNbyj7k-unsplash-min.jpg");
    background-size: 220%;
    background-position-x: 52%;
    background-position-y: 20%;
}

.review-customer-name {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 32px;
    line-height: 24px;
    color: var(--temno-siniy);
    display: flex;
    justify-content: center;
    margin: 0 0 23px;
}

.review-customer-text {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--temno-siniy);
}

[href="tel: +79999992241"] {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--belyyw);
}

.jewelry-page-search {
    background-position-y: 45%;
    margin: 36px 0 0;
    padding: 56px 0;
    background-image: linear-gradient(rgba(3, 0, 37, 0.5), rgba(3, 0, 37, 0.5)), url("../jpg/brooks-leibee-JhQCnqsxy3E-unsplash.jpg");
    min-height: 168px;
    min-width: 1280px;
    background-size: cover;
    box-sizing: border-box;
}

.jewerly-page-catalog {
    border: 1px solid var(--temno-siniy);  
    border-radius: 8px;
    width: 175px;
    height: 56px;
    background: var(--belyyw);
    padding: 15px 32px 14px;

}

.jewerly-page-catalog-title {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: var(--temno-siniy);
    letter-spacing: 0.03em;
}

.jewelry-page-search-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jewelry-page-search-search {
    position: relative;
    border: 1px solid var(--belyyw);
    border-radius: 8px;
    width: 440px;
    height: 56px;
    background: var(--btn-slayder);
    margin: 0 73px 0 205px;
    display: flex;

}

.jewelry-page-search-icon {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: 0 0 0 16px;
}

.jewelry-page-search-input {
    padding: 0 0 0 46px;
    border: 1px solid var(--belyyw);
    border-radius: 8px;
    width: 440px;
    height: 56px;
    background: var(--btn-slayder);
    outline: none;
    border: none;
}

[placeholder="Поиск"] {

    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: var(--belyyw);
}

.jewelry-page-search-input::placeholder { color: white; }



.jewelry-page-search-create {
    border: 1px solid var(--temno-siniy);
    border-radius: 8px;
    width: 307px;
    height: 56px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.jewelry-page-search-create-title {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: var(--temno-siniy);
    letter-spacing: 0.05em;
}

.jewelry-page-main-section {
    border: 1px solid var(--temno-siniy);
    border-radius: 8px;
    padding: 14px 16px;
    width: 398px;
    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: var(--temno-siniy);
    }

.jewelry-page-main {
    padding: 72px 0 112px 0;
    
}

.jewelry-page-main-header {
    display: flex;
    gap: 24px;
}

.jewelry-page-main-parametrs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    
}

.jewelry-page-main-parametrs-item {
    border: 1px solid var(--temno-siniy);
    border-radius: 8px;
    padding: 14px 16px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: var(--temno-siniy);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    height: 52px;
    box-sizing: border-box;
}

/* .jewelry-page-jewelry-list {

} */

.jewelry-page-jewelry-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 408px;
    position: relative;
}

.jewelry-page-jewelry-list {
    display: flex;
    gap: 30px;
    padding: 40px 0 0;
    flex-wrap: wrap;
}

.jewelry-page-jewelry-image {
    width: 380px;
    height: 220px;
    background: url("/jpg/sabrianna-CCpQ12CZ2Pc-unsplash.jpg");
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

.jewelry-page-jewelry-price {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;

    /* line-height: 24px; */ 
    line-height: 24px;
    color: var(--temno-siniy);
}

.jewelry-page-jewelry-title {
    padding: 10px 10px 10px 0px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: var(--temno-siniy);
}

.jewelry-page-jewelry-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: var(--temno-siniy);
    width: 265px;
    height: 72px;
}

.jewelry-page-like-button {
    background: none;
    border: none;
    padding: 0;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 24px;
    top: 16px;
}



